@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */


:root {
  --foreground-rgb: 28, 25, 23;
  --background-start-rgb: 250, 248, 245;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: var(--background-start-rgb);
  color: var(--foreground-rgb);
  font-family: Arial, Helvetica, sans-serif;
}